<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @city.temperature %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @city.hour %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
